* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    color: #EEE;
    font-family: sans-serif;
    text-align: center;
}

#tablero {
    background-color: white;
    height: 400px;
    width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

#tablero .filaImpar p:nth-child(2n+1),
#tablero .filaPar p:nth-child(2n) {
    background-color: white;
}

#tablero p {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: black;
}
